/*Global Style*/

.steamsig
{
	display: block;
	border: 1px solid black;

	width:300px;
	height:65px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	

	-webkit-box-shadow: #B3B3B3 5px 5px 5px;
	-moz-box-shadow: #B3B3B3 5px 5px 5px;
	 box-shadow: #B3B3B3 5px 5px 5px;
	
	 background:rgba(43,43,43,0.9);
	 background: -moz-linear-gradient(53deg, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 37%, rgba(61,61,61,0.95) 46%, rgba(84,84,84,0.95) 100%); /* ff3.6+ */
	 background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(43,43,43,1)), color-stop(37%, rgba(58,58,58,1)), color-stop(46%, rgba(61,61,61,0.95)), color-stop(100%, rgba(84,84,84,0.95))); /* safari4+,chrome */
	 background: -webkit-linear-gradient(53deg, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 37%, rgba(61,61,61,0.95) 46%, rgba(84,84,84,0.95) 100%); /* safari5.1+,chrome10+ */
	 background: -o-linear-gradient(53deg, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 37%, rgba(61,61,61,0.95) 46%, rgba(84,84,84,0.95) 100%); /* opera 11.10+ */
	 background: -ms-linear-gradient(53deg, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 37%, rgba(61,61,61,0.95) 46%, rgba(84,84,84,0.95) 100%); /* ie10+ */
	 background: linear-gradient(37deg, rgba(43,43,43,1) 0%, rgba(58,58,58,1) 37%, rgba(61,61,61,0.95) 46%, rgba(84,84,84,0.95) 100%); /* w3c */
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#2b2b2b',GradientType=0 ); /* ie6-9 */
}

.steamsig:hover
{
	border-radius: 10px;
}

.steamsig .avatar
{
	display: inline-block;
	vertical-align: middle;
}

.steamsig .avatar img
{
	width : 45px;
	height: 45px;

	
	margin-top: 7px;	
	margin-left: 8px;

	position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	display: inline-block;
	  
	border-radius: 7px;
	border: 1px solid rgba(43,43,43,0.9);
}


.steamsig .topline
{
	display: inline-block;
	position: absolute;
	margin-top: 1px;
	color: white;

	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-left: 5px;
}

.steamsig .topline .nickname
{
	display: inline-block;
	position: relative;
	padding-top: 2px;
	color: white;
}

.steamsig .topline .country
{
	display: inline-block;
	position: relative;
	top: -5px;
	color: white;
}

.steamsig .middleline
{
	display: inline-block;
	position: absolute;
	margin-top: 27px;
	color: white;

	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-left: 5px;
}

.steamsig .bottomline
{
	display: inline-block;
	position: absolute;
	margin-top: 41px;
	color: white;

	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-left: 5px;
}

/*In-Game Style*/

.ingame
{
	border: 2px solid rgb(154,199,97);
}

.ingame:hover
{
	-webkit-box-shadow: rgb(154,199,97) 0px 0px 15px;
	-moz-box-shadow: rgb(154,199,97) 0px 0px 15px;
	 box-shadow: rgb(154,199,97) 0px 0px 15px;
}

.ingame .topline .nickname, .ingame .middleline .status
{
	color: rgb(154,199,97);
}

.ingame .avatar img
{
	border: 1px solid rgb(154,199,97);
}

/*Online Style*/

.online
{
	border: 2px solid rgb(84,165,184);
}

.online:hover
{
	-webkit-box-shadow: rgb(84,165,184) 0px 0px 15px;
	-moz-box-shadow: rgb(84,165,184) 0px 0px 15px;
	 box-shadow: rgb(84,165,184) 0px 0px 15px;
}

.online .topline .nickname, .online .middleline .status
{
	color: rgb(84,165,184);
}

.online .avatar img
{
	border: 1px solid rgb(84,165,184);
}

/*Offline Style*/
.offline:hover
{
	-webkit-box-shadow: #B3B3B3 0px 0px 15px;
	-moz-box-shadow: #B3B3B3 0px 0px 15px;
	 box-shadow: #B3B3B3 0px 0px 15px;
}

.offline .middleline .status, .offline .bottomline
{
	color: lightgray;
}